.menu {
  display: inline-flex;
  position: relative;
  align-items: center;
  flex-direction: row-reverse;
  cursor: pointer;
}

.menu__avatar {
  width: 30px;
  height: 30px;
  background-color: #dadce8;
  border-radius: 4px;
}

.menu__avatar img {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.menu__userName {
  color: #dadce8;
  padding: 0 10px;
}

.menu:hover .menu__userName {
  color: #ebedf4;
}

.dropdown {
  position: absolute;
  top: 40px;
  left: -60px;
  padding: 10px;
  width: 150px;
  background-color: #f1f1f1;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  border-radius: 3px;
  font-size: 0.9rem;
}

.dropdown_show {
  display: block;
}

.dropdown_hide {
  display: none;
}


