.login {
  display: grid;
  width: 300px;
  padding: 25px 10px;
  margin: 150px auto;
  justify-content: center;
  background-color: #eee;
  border-radius: 3px;
}

.login__title {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  color: #515151;
}

.submit {
  width: 100%;
  display: block;
  margin: 20px 0 0 0;
  background-color: #5F76CA;
  border-radius: 3px;
  border: 1px solid #5F76CA;
  padding: 5px 10px;
  color: #dadce8;
  cursor: pointer;
  outline: none;
}

.submit:hover {
  color: #ebedf4;
}

.error {
  color: orangered;
}